<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/6f5bcfa0c2.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/process.css">
  <title>Demarest</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    .navbar-collapse {
      flex-grow: 0 !important;
    }

    .carousel-control-next-icon {
      background-image: url('../img/arrow-right.png') !important;
      width: 20px !important;
      height: 20px !important;
    }

    .carousel-control-prev-icon {
      background-image: url('../img/arrow-left-2.png') !important;
      width: 20px !important;
      height: 20px !important;
    }
  </style>
</head>

<body>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>

  <body style="background-color:rgb(245, 245, 245)">
    <div class="header-init">
      <header style=" background-color: white; text-color: var(--blue); width: 100%; borde: 1px solid red;">
        <nav class="navbar navbar-expand-lg navbar-light" style="max-width: 1440px; margin: 0 auto; height: 4.37rem;">
          <div class="container-fluid" style="max-width: 1440px;margin: 0 auto;">
            <div><a class="navbar-brand" href="#"><img src="../img/logo.png" alt=""></a></div> <button
              class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="background-color: white; ">
              <ul class="navbar-nav" style="color: white; gap: 2rem;">
                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="./index.html">Início</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="./process.html">Processos</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Financeiro</a> </li>
                <li class="nav-item"> <a class="nav-link" href="./process.html">Contratos</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">SAC</a> </li>
              </ul>
            </div>
            <div id="person" style="text-color: var(--blue);">
              <li class="nav-item"> <a href="#" class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                  <a href="#"><img src="../img/pessoa.png" alt=""></a> </a> <a href="#"
                  style="color:var(--grey3); text-decoration: none;">
                  <h6>Cláudio da Nóbrega</h6>
                </a> </li>
            </div>
          </div>
        </nav>
      </header>
    </div>

    <main class="navbar navbar-expand-lg navbar-light" style="max-width: 1440px; margin: 0 auto;">
      <section>
        <div class="social"> <a href="./process.html"> <img src="../img/pessoa.png" alt=""> </a>
          <div>
            <h6 style="color: var(--blue);">Bom dia, <b>Cláudio!</b></h6> <a href="./process.html">
              <p style=" color: var(--grey3); text-decoration: none ;">Você tem 3 mensagens não lidas</p>
            </a>
          </div>
          <div class="notification" style="margin-top: 1rem; margin-left: 1rem;"> <img
              src="../img/sino-de-notificacao.png" alt=""> </div>
        </div>
      </section>
    </main>

    <section style="background-color:#f5f5f5">
      <div class="work" style="margin-top:2rem; max-width: 1440px; margin: 1.5rem auto; display: flex; text-align: center;text-align: center;
         justify-content: space-between; color: var(--blue);">
        <h4>Trabalhos em andamento</h4> <a href="#"
          style="text-align: center;margin-top: 0.5rem; color: var(--grey-dark);"> Ver todos</a>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators"> <button type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> <button type="button"
            data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> <button
            type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button> </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-center gap-sm-0 gap-3flex-wrap justify-content-sm-between"
              style="max-width: 1440px;margin: 0 auto;">
              <div class="work-in-progress">
                <div class="job-description">
                  <p>Partes contrárias</p>
                  <h6 style="color: var(--orange);">Lucas Gutierrez</h6> <br>
                  <p>Partes interessadas</p>
                  <p>
                  <h6 style="color: var(--orange);"> Financiamento e Investimento BV Financeira S.A Crédito </h6>
                  </p> <br>
                  <p>Número CNJ</p>
                  <p>
                  <h6>0001934-14.2013.5.10.0008</h6>
                  </p> <br>
                  <p>PEP</p>
                  <p>
                  <h6>0000031369.1.1</h6>
                  </p> <br>
                  <p>Status</p>
                  <p>
                  <h6>Postulatória</h6>
                  </p> <br>
                  <p>Último andamento</p>
                  <p>
                  <h6>Manifestação/ Requerimento protocolado pela parte interessada </h6>
                  </p>
                </div> <a href="./process.html">
                  <h6 style="cursor: pointer;"> Ver detalhes </h6>
                </a>
              </div>
              <div class="work-in-progress">
                <div class="job-description">
                  <p>Projeto consultivo</p>
                  <h6 style="color: var(--orange);">Lucas Gutierrez</h6> <br>
                  <p>Partes interessadas</p>
                  <p>
                  <h6 style="color: var(--orange);"> Financiamento e Investimento BV Financeira S.A Crédito </h6>
                  </p> <br>
                  <p>Número CNJ</p>
                  <p>
                  <h6>0001934-14.2013.5.10.0008</h6>
                  </p> <br>
                  <p>PEP</p>
                  <p>
                  <h6>0000031369.1.1</h6>
                  </p> <br>
                  <p>Status</p>
                  <p>
                  <h6>Postulatória</h6>
                  </p> <br>
                  <p>Último andamento</p>
                  <p>
                  <h6>Manifestação/ Requerimento protocolado pela parte interessada </h6>
                  </p>
                </div> <a href="./process.html">
                  <h6 style="cursor: pointer;"> Ver detalhes </h6>
                </a>
              </div>
              <div class="work-in-progress">
                <div class="job-description">
                  <div class="consultative-project">
                    <p>Projeto consultivo</p>
                    <h4 style="color: var(--orange);">Nome do projeto</h4>
                  </div> <a href="./process.html">
                    <h6 style="cursor: pointer;"> Ver detalhes </h6>
                  </a>
                </div>
              </div>
              <div class="work-in-progress">
                <div class="job-description">
                  <p>Partes contrárias</p>
                  <h6 style="color: var(--orange);">Lucas Gutierrez</h6> <br>
                  <p>Partes interessadas</p>
                  <p>
                  <h6 style="color: var(--orange);"> Financiamento e Investimento BV Financeira S.A Crédito </h6>
                  </p> <br>
                  <p>Número CNJ</p>
                  <p>
                  <h6>0001934-14.2013.5.10.0008</h6>
                  </p> <br>
                  <p>PEP</p>
                  <p>
                  <h6>0000031369.1.1</h6>
                  </p> <br>
                  <p>Status</p>
                  <p>
                  <h6>Postulatória</h6>
                  </p> <br>
                  <p>Último andamento</p>
                  <p>
                  <h6>Manifestação/ Requerimento protocolado pela parte interessada </h6>
                  </p>
                </div>
                <a href="./process.html">
                  <h6> Ver detalhes </h6>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-center gap-sm-0 flex-wrap justify-content-sm-between"
              style="max-width: 1440px;margin: 0 auto;">
              <div class="work-in-progress">
                <div class="job-description">
                  <p>Partes contrárias</p>
                  <h6 style="color: var(--orange);">Lucas Gutierrez</h6> <br>
                  <p>Partes interessadas</p>
                  <p>
                  <h6 style="color: var(--orange);"> Financiamento e Investimento BV Financeira S.A Crédito </h6>
                  </p> <br>
                  <p>Número CNJ</p>
                  <p>
                  <h6>0001934-14.2013.5.10.0008</h6>
                  </p> <br>
                  <p>PEP</p>
                  <p>
                  <h6>0000031369.1.1</h6>
                  </p> <br>
                  <p>Status</p>
                  <p>
                  <h6>Postulatória</h6>
                  </p> <br>
                  <p>Último andamento</p>
                  <p>
                  <h6>Manifestação/ Requerimento protocolado pela parte interessada </h6>
                  </p>
                </div> 
                <a href="./process.html">
                  <h6> 
                    Ver detalhes 
                  </h6>
                </a>
              </div>
              <div class="work-in-progress">
                <div class="job-description">
                  <p>Projeto consultivo</p>
                  <h6 style="color: var(--orange);">Lucas Gutierrez</h6> <br>
                  <p>Partes interessadas</p>
                  <p>
                  <h6 style="color: var(--orange);"> Financiamento e Investimento BV Financeira S.A Crédito </h6>
                  </p> <br>
                  <p>Número CNJ</p>
                  <p>
                  <h6>0001934-14.2013.5.10.0008</h6>
                  </p> <br>
                  <p>PEP</p>
                  <p>
                  <h6>0000031369.1.1</h6>
                  </p> <br>
                  <p>Status</p>
                  <p>
                  <h6>Postulatória</h6>
                  </p> <br>
                  <p>Último andamento</p>
                  <p>
                  <h6>Manifestação/ Requerimento protocolado pela parte interessada </h6>
                  </p>
                </div> <a href="./process.html">
                  <h6> Ver detalhes </h6>
                </a>
              </div>
              <div class="work-in-progress">
                <div class="job-description">
                  <div class="consultative-project">
                    <p>Projeto consultivo</p>
                    <h4 style="color: var(--orange);">Nome do projeto</h4>
                  </div> <a href="./process.html">
                    <h6> Ver detalhes </h6>
                  </a>
                </div>
              </div>
              <div class="work-in-progress">
                <div class="job-description">
                  <p>Partes contrárias</p>
                  <h6 style="color: var(--orange);">Lucas Gutierrez</h6> <br>
                  <p>Partes interessadas</p>
                  <p>
                  <h6 style="color: var(--orange);"> Financiamento e Investimento BV Financeira S.A Crédito </h6>
                  </p> <br>
                  <p>Número CNJ</p>
                  <p>
                  <h6>0001934-14.2013.5.10.0008</h6>
                  </p> <br>
                  <p>PEP</p>
                  <p>
                  <h6>0000031369.1.1</h6>
                  </p> <br>
                  <p>Status</p>
                  <p>
                  <h6>Postulatória</h6>
                  </p> <br>
                  <p>Último andamento</p>
                  <p>
                  <h6>Manifestação/ Requerimento protocolado pela parte interessada </h6>
                  </p>
                </div> <a href="./process.html">
                  <h6> Ver detalhes </h6>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-center gap-sm-0 gap-3 flex-wrap justify-content-sm-between"
              style="max-width: 1440px;margin: 0 auto;">
              <div class="work-in-progress">
                <div class="job-description">
                  <p>Partes contrárias</p>
                  <h6 style="color: var(--orange);">Lucas Gutierrez</h6> <br>
                  <p>Partes interessadas</p>
                  <p>
                  <h6 style="color: var(--orange);"> Financiamento e Investimento BV Financeira S.A Crédito </h6>
                  </p> <br>
                  <p>Número CNJ</p>
                  <p>
                  <h6>0001934-14.2013.5.10.0008</h6>
                  </p> <br>
                  <p>PEP</p>
                  <p>
                  <h6>0000031369.1.1</h6>
                  </p> <br>
                  <p>Status</p>
                  <p>
                  <h6>Postulatória</h6>
                  </p> <br>
                  <p>Último andamento</p>
                  <p>
                  <h6>Manifestação/ Requerimento protocolado pela parte interessada </h6>
                  </p>
                </div> <a href="./process.html">
                  <h6> Ver detalhes </h6>
                </a>
              </div>
              <div class="work-in-progress">
                <div class="job-description">
                  <p>Projeto consultivo</p>
                  <h6 style="color: var(--orange);">Lucas Gutierrez</h6> <br>
                  <p>Partes interessadas</p>
                  <p>
                  <h6 style="color: var(--orange);"> Financiamento e Investimento BV Financeira S.A Crédito </h6>
                  </p> <br>
                  <p>Número CNJ</p>
                  <p>
                  <h6>0001934-14.2013.5.10.0008</h6>
                  </p> <br>
                  <p>PEP</p>
                  <p>
                  <h6>0000031369.1.1</h6>
                  </p> <br>
                  <p>Status</p>
                  <p>
                  <h6>Postulatória</h6>
                  </p> <br>
                  <p>Último andamento</p>
                  <p>
                  <h6>Manifestação/ Requerimento protocolado pela parte interessada </h6>
                  </p>
                </div> <a href="./process.html">
                  <h6> Ver detalhes </h6>
                </a>
              </div>
              <div class="work-in-progress">
                <div class="job-description">
                  <div class="consultative-project">
                    <p>Projeto consultivo</p>
                    <h4 style="color: var(--orange);">Nome do projeto</h4>
                  </div> <a href="./process.html">
                    <h6> Ver detalhes </h6>
                  </a>
                </div>
              </div>
              <div class="work-in-progress">
                <div class="job-description">
                  <p>Partes contrárias</p>
                  <h6 style="color: var(--orange);">Lucas Gutierrez</h6> <br>
                  <p>Partes interessadas</p>
                  <p>
                  <h6 style="color: var(--orange);"> Financiamento e Investimento BV Financeira S.A Crédito </h6>
                  </p> <br>
                  <p>Número CNJ</p>
                  <p>
                  <h6>0001934-14.2013.5.10.0008</h6>
                  </p> <br>
                  <p>PEP</p>
                  <p>
                  <h6>0000031369.1.1</h6>
                  </p> <br>
                  <p>Status</p>
                  <p>
                  <h6>Postulatória</h6>
                  </p> <br>
                  <p>Último andamento</p>
                  <p>
                  <h6>Manifestação/ Requerimento protocolado pela parte interessada </h6>
                  </p>
                </div> <a href="./process.html">
                  <h6> Ver detalhes </h6>

                </a>
              </div>
            </div>
          </div>
        </div> <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
            class="visually-hidden">Previous</span> </button> <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> <span class="carousel-control-next-icon"
            aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
      </div>
      <div class="work mt-5"
        style="margin-top:2rem; max-width: 1440px; margin: 0 auto; display: flex; gap:10rem;text-align: center;text-align: center; justify-content: space-between; color: var(--blue);">
        <h4>Boletos</h4> <a href="#" style="text-align: center;margin-top: 0.5rem; color: var(--grey-dark);">
          Ver todos</a>
      </div>
      <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators2"> <button type="button" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> <button type="button"
            data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button> <button
            type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
            aria-label="Slide 3"></button> </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-center gap-sm-0 gap-3 flex-wrap justify-content-sm-between"
              style="max-width: 1440px;margin: 0 auto;">
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>20.000,</b>00 </h3>
                </a>
                <p>VENCIMENTO 07 MAI</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>1.000,</b>00 </h3>
                </a>
                <p>DATA DA DESPESA: 12/12/2023</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>1.000,</b>00 </h3>
                </a>
                <p>DATA DA DESPESA: 12/12/2023</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>20.000,</b>00 </h3>
                </a>
                <p>VENCIMENTO 07 MAI</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-between" style="max-width: 1440px;margin: 0 auto;">
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>20.000,</b>00 </h3>
                </a>
                <p>VENCIMENTO 07 MAI</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>1.000,</b>00 </h3>
                </a>
                <p>DATA DA DESPESA: 12/12/2023</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>1.000,</b>00 </h3>
                </a>
                <p>DATA DA DESPESA: 12/12/2023</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>20.000,</b>00 </h3>
                </a>
                <p>VENCIMENTO 07 MAI</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-between" style="max-width: 1440px;margin: 0 auto;">
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>20.000,</b>00 </h3>
                </a>
                <p>VENCIMENTO 07 MAI</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>1.000,</b>00 </h3>
                </a>
                <p>DATA DA DESPESA: 12/12/2023</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>20.000,</b>00 </h3>
                </a>
                <p>DATA DA DESPESA: 12/12/2023</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
              <div class="work-in-progress2">
                <div class="job-description"> FATURA FECHADA </div> <a href="http://">
                  <h3> R$ <b>1.000,</b>00 </h3>
                </a>
                <p>VENCIMENTO 07 MAI</p>
                <a href="#"><button>
                    A PAGAR
                  </button></a>
              </div>
            </div>
          </div>
        </div> <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
          data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
            class="visually-hidden">Previous</span> </button> <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleIndicators2" data-bs-slide="next"> <span class="carousel-control-next-icon"
            aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
      </div>
    </section>

    <section style="max-width: 1440px; margin: 0 auto;">
      <div class="news">
        <h4>
          Notícias recentes
        </h4>
        <a href="#" style="text-align: center;margin-top: 0.5rem; color: var(--grey-dark);"> Ver todos</a>
      </div>
      <div class="recent-news">
        <div class="newsletter">
          <a href="http://">
            <img src="../img/news1.png" alt="">
            <p><b>O Pacto Nacional do judiciário para a Equidade Racial e o pacto narcísio da branquitude</b><br>
              <span style="color: var(--grey-dark);">20/11/2023</span>
            </p>
          </a>
        </div>
        <div class="newsletter">
          <a href="http://">
            <img src="../img/news2.png" alt="">
            <p><b>Racismo estrutural e a inserção da população negra na advocacia privada</b><br>
              <span style="color: var(--grey-dark);">20/11/2023</span>
            </p>
          </a>
        </div>
        <div class="newsletter">
          <a href="http://">
            <img src="../img/news1.png" alt="">
            <p><b>O Pacto Nacional do judiciário para a Equidade Racial e o pacto narcísio da branquitude</b><br>
              <span style="color: var(--grey-dark);">20/11/2023</span>
            </p>
          </a>
        </div>
        <div class="newsletter">
          <a href="http://">
            <img src="../img/news2.png" alt="">
            <p><b>Racismo estrutural e a inserção da população negra na advocacia privada</b><br>
              <span style="color: var(--grey-dark);">20/11/2023</span>
            </p>
          </a>
        </div>

      </div>
    </section>

    <section style="max-width: 1440px; margin: 0 auto;">
      <div class="communication">
        <h4>
          Fale conosco
        </h4>
        <div class="contacts">
          <div class="our-contacts">
            <a href="">
              <div class="email">
                <img src="../img/e-mail.png" alt="">
              </div>
              <div class="form">
                <h6>Formulário de Contato</h6>
                <p>Mande-nos sua mensagem preenchendo o formulário de contato</p>
              </div>
            </a>

          </div>
          <div class="our-contacts">
            <a href="">
              <div class="atendimento">
                <img src="../img/central-de-atendimento.png" alt="">
              </div>
              <div class="form">
                <h6>Ouvidoria</h6>
                <p>Fale agora com uma de nossas atendentes </p>
              </div>
            </a>
          </div>
          <div class="our-contacts">
            <a href="">
              <div class="advogados">
                <img src="../img/simbolo-de-equilibrio-da-escala-de-libra.png" alt="">
              </div>
              <div class="form">
                <h6>Advogados</h6>
                <p>Encontre os advogados responsáveis nos dados do seu processo</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer class="rodape">
      <div>
        <p><a href="\"></a>Termos de uso</a></p>
      </div>
      <div>
        <p><a href="\"></a>Política de privacidade</a></p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
  </body>

  </html>
</body>

</html>